/* Zera as margens e paddings padrões do navegador */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* Movemos o seu gradiente para cá para garantir que ele cubra o navegador de ponta a ponta */
body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}